<ion-view view-title="{{ 'LOBBY.MENU' | translate }}">
    <ion-nav-buttons side="left">
        <button class="button" ng-click="logout()">
            <i class="icon ion-log-out light"></i>
        </button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <button class="button button-block button-positive" ng-click="takeTestButtonTapped()">
           {{ 'LOBBY.TAKE_TEST' | translate }}
        </button>
        <button class="button button-block button-positive" ui-sref="history">
            {{ 'LOBBY.MY_RESULTS' | translate }}
        </button>
    </ion-content>
</ion-view>